/*Базовые стили и стили для index.html*/

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  min-width: 960px;
}

/*Верхняя часть шапки*/
body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

ul {
  list-style: none;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-header {
  /*min-height: 320px;*/
  padding-bottom: 59px;
  margin-bottom: 59px;
  background-color: #f3f7f8;

}

.main-header-top {
  margin-bottom: 46px;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-top .container {
  display: flex;
}

.main-header-top .logo {
  display: block;
  width: 220px;
  height: 42px;
  /*margin-right: 10px;*/
}

.logo img {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover img,
.logo:focus img {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active img {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.main-header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.main-header-search {
  width: 270px;
}

.main-header-search input {
  font: inherit;
  color: #ffffff;
  background-color: #293449;
}

.main-header-search ::-webkit-input-placeholder {
  color: #ffffff;
}

.main-header-search :-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

.main-header-search ::-moz-placeholder {  /* Firefox 19+ */
  color: #ffffff;
}

.main-header-search :-ms-input-placeholder {
  color: #ffffff;
}

.main-header-top a {
  color: #ffffff;
}

.main-header-order {
  background-color: #63a63e;
}

.main-header-bookmarks,
.main-header-cart,
.main-header-order {
  width: 150px;
}

.search-field:hover {
  background-color: #212a3a;
}

.search-field:focus {
  color: #000000;
  background-color: #ffffff ;
}

.main-header-bookmarks:hover,
.main-header-bookmarks:focus,
.main-header-cart:hover,
.main-header-cart:focus {
  background-color: #212a3a;
}

.main-header-order:hover,
.main-header-order:focus {
  background-color: #5fbb2d;
}

.main-header-bookmarks:active,
.main-header-cart:active {
  color: #a2a5a9;
  background-color: #161d29;
}

.main-header-order:active {
  color: #aac39b;
  background-color: #518534;
}

/*Средняя часть шапки*/
.main-header-top + .container {
  display: flex;
  /*flex-direction: column;*/
  /*Для чего был добавлен перенос?*/
  flex-wrap: wrap;
}

.main-header-middle {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-bottom: 39px;
}

.main-header-title {
  margin: 0;
  width: 300px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.main-header-contacts {
  width: 300px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-contacts-link {
  display: block;
  font-size: 21px;
  line-height: 18px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.user-block {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 300px;
}

.index-user-block {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.user-block-btn {
  display: block;
  padding: 10px 25px;
  font-size: 21px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

.auth {
  padding-left: 48px;
}

.user-block-btn:hover,
.user-block-btn:focus {
  color: #ee3643;
}

.user-block-btn:active {
  color: #b2b2b2;
}

/*Нижняя часть шапки*/

.site-navigation {
  margin: 0;
  /*padding: 0;*/
  padding: 0 26px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.site-navigation li {
  flex-grow: 1;
}

.site-navigation a {
  display: block;
  /*Временные размеры, чтобы просто посмотреть,
  как будут располагаться. Пока не понимаю,
  как мерить размеры между элементами списка.*/
  padding-top: 21px;
  padding-bottom: 17px;
  padding-left: 26px;
  padding-right: 26px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: #777d88;
}

/*Основная часть страницы*/

/*Стили для раздела с услугами и товарами*/
.features {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.features-item {
  width: 300px;
  /*Временный размер*/
  min-height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.features-item:nth-of-type(3) {
  margin-right: 0;
}

.features-flex-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.features .features-item-title {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.features-item-btn {
  color: #ffffff;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.features-item-btn:hover,
.features-item-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-item-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  width: 300px;
  background-color: #ffbf47;
}

.instruments {
  width: 300px;
  background-color: #3bbce3;
}

.technics {
  width: 300px;
  background-color: #dc91d8;
}

.discounts {
  width: 300px;
  background-color: #8ed78f;
}

.delivery {
  width: 300px;
  background-color: #ffc047;
}

.features-slider {
  width: 620px;
  min-height: 266px;
  margin-right: 20px;
  background-image: url("../img/man-1.jpg");
  /*background-image: url("../img/man-2.jpg");*/
  background-repeat: no-repeat;
}

/*.slider-item:nth-of-type(1) {
  min-height: 266px;
  background-image: url("../img/man-1.jpg");
  background-repeat: no-repeat;
}

.slider-item:nth-of-type(2) {
  background-image: url("../img/man-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}*/

.slider-title {
  font-size: 36px;
  line-height: 30px;
  /*font-weight: bold;*/
  text-transform: uppercase;
  color: #ffffff;
}

.slider-item p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider-item-btn {
  border-radius: 2px;
  background-color: #ee3643;
}

.slider-item-btn:hover,
.slider-item-btn:focus,
.popular-btn:hover,
.popular-btn:focus {
  background-color: #ca2c37;
}

.slider-item-btn:active,
.popular-btn:active {
  background-color: #ba2732;
}

/*Стили для раздела с популярными товарами*/
.popular-goods {
  margin-bottom: 21px;
}

.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px;
  background-color: #f9f5f0;
}

.popular-item-container {
  display: flex;
  /*justify-content: space-between;*/
}

.popular-title {
  width: 460px;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.popular-btn {
  border-radius: 2px;
  background-color: #ee3643;
}

.popular-item {
  width: 220px;
  /*Высота временная*/
  min-height: 318px;
  margin-right: 20px;
  border: 1px solid #eaeaea;
}

.popular-item:nth-of-type(4n+4) {
  margin-right: 0;
}

.popular-item,
.popular-item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.popular-item-title span {
  text-transform: uppercase;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: #aaaaaa;
}

.price-btn {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #ee3643;
}

.popular-item-action {
  display: none;
}

.buy-btn {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #63a63e;
}

.buy-btn:hover,
.buy-btn:focus {
  background-color: #5fbb2d;
}

.buy-btn:active {
  background-color: #518534;
}

.bookmarks-btn {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #32425c;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #63a63e;

}

.bookmarks-btn:hover,
.bookmarks-btn:focus {
  box-shadow: 0 0 0 3px #32425c;
}

.bookmarks-btn:active {
  opacity: 0.3;
  box-shadow: 0 0 0 3px #c1c6ce;
}

.popular-item:hover,
.popular-item:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border: 1px solid #fff;
}

.popular-item:hover .popular-item-image,
.popular-item:focus .popular-item-image   {
  display: none;
}

.popular-item:hover .popular-item-action,
.popular-item:focus .popular-item-action  {
  display: block;
}

/*Стили для раздела с популярными производителями*/
.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturers-list-item {
  /*При масштабировании рамки отображаются некорректно
  (пропадают снизу. Это нормально?)*/
  margin-bottom: 20px;
  margin-right: 20px;
}

.manufacturers-list-item:nth-of-type(n+4) {
  margin-bottom: 0;
}

.manufacturers-list-item:nth-of-type(4n+4) {
  margin-right: 0;
}

.manufacturers-list-item-logo {
  display: block;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
}

.manufacturers-list-item-logo:hover,
.manufacturers-list-item-logo:focus {
  /*Поскольку ссылка интерактивный элемент, то стили для фокуса
  задаются ссылкам. А как тогда при наведении на ссылку менять стили обертки?
  Пока сделал стили при наведении и фокусе для обертки (что не совсем корректно)*/
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border: 1px solid #fff;
}

.manufacturers-list-item-logo:active img {
  opacity: 0.3;
}

.manufacturers-list-item-logo:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  border: 1px solid #fff;
}

.popular-manufacturers {
  margin-bottom: 85px;
}

/*Стили для блока сервисы*/
.services {
  margin-bottom: 75px;
  padding-top: 60px;
  padding-bottom: 102px;
  background-color: #f4f8f9;
}

.block-title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.slogan {
  width: 400px;
  font-size: 14px;
  margin-bottom: 70px;
}

/*Не понял как расположить блоки слайдера*/
.services-slider input {
  /*Временно скрыл*/
  display: none;
}

.services-slider-controls {
  display: flex;
  width: 240px;
  flex-direction: column;
}

.services-control-title {
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
  border-bottom: 1px solid #4d637b;
}

.services-control-title.active {
  color: #32425c;
  background-color: #ffffff;
  pointer-events: none;
}

.services-control-title:hover,
.services-control-title:focus {
  color: #ffffff;
  background-color: #293449;
}

.services-control-title:active {
  color: #32425c;
  background-color: #ffffff;
}

.services-slider-item {
  width: 300px;
}

.services-slider-item p {
  margin: 0;
}

.guarantee-item,
.credit-item {
  /*Временно скрыл*/
  display: none;
}

.services-slider-title {
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
}

/*Стили для блока с информацией о компании*/
.about {
  display: flex;
  justify-content: space-between;
}

.about-description {
  width: 560px;
}

.about-description .block-title {
  margin-bottom: 25px;
}

.about-description p:nth-of-type(1),
.about-description p:nth-of-type(2) {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.about-description p:nth-of-type(1) {
  width: 528px;
}

.about-description p:nth-of-type(2) {
  width: 400px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  margin-bottom: 28px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.list-item:last-child {
  margin-bottom: 38px;
}

.about-btn {
  border-radius: 2px;
  background-color: #ee3643;
}

.about-contacts {
  width: 300px;
}

.about-contacts p {
  margin: 0;
  width: 180px;
  margin-bottom: 33px;
}

.about-contacts a:nth-of-type(1) {
  display: block;
  width: 300px;
  height: 158px;
  margin-bottom: 40px;
}

.about-contacts-btn {
  border-radius: 2px;
  background-color: #ee3643;
}

.about-btn:hover,
.about-btn:focus,
.about-contacts-btn:hover,
.about-contacts-btn:focus {
  background-color: #ca2c37;
}

.about-btn:active,
.about-contacts-btn:active {
  background-color: #ba2732;
}

/*Стили для верхней части подвала*/
.main-footer {
  margin-top: 86px;
}

.footer-top {
  padding-bottom: 52px;
  background-color: #32425c;
}

.footer-top .container {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  width: 380px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-contacts .logo {
  display: block;
  width: 220px;
  height: 63px;
  margin-bottom: 34px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  width: 550px;
  padding-top: 42px;
}

.footer-navigation-top,
.footer-navigation-bottom {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation-bottom {
  margin: 0;
  padding-left: 23px;
}

.footer-navigation-top a {
  color: #ffffff;
}

.footer-navigation-top a:hover,
.footer-navigation-top a:focus {
  border-bottom: 2px solid #ffffff
}

.footer-navigation-bottom a {
  color: #ffd180;
}

.footer-navigation-bottom a:hover,
.footer-navigation-bottom a:focus {
  border-bottom: 2px solid #ffd180;
}

.footer-navigation-top a:active,
.footer-navigation-bottom a:active {
  opacity: 0.5;
  border-bottom: none;
}

/*Стили для нижней части шапки*/
.footer-bottom {
  background-color: #293449;
  padding-top: 38px;
  padding-bottom: 33px;
}

.footer-bottom .container {
  display: flex;
}

.copyright {
  width: 240px;
  margin: 0;
  margin-right: 150px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-social {
  width: 150px;
  margin-right: 100px;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.social-btn {
  display: block;
  /*font-size: 16px;*/
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
  font-size: 0;
  line-height: 18px;
  color: #ffffff;
  background-color: #212a3a;
}

.social-btn-inst {
  margin: 0;
}

.social-btn:hover,
.social-btn:focus,
.social-btn:active {
  background-color: #ee3643;
}

.footer-feedback {
  margin: 0;
  width: 140px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback-email {
  margin-right: 20px;
}

.feedback-site {
  padding-left: 29px;
}

.footer-feedback a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-feedback a:focus {
  border-bottom: 2px solid #ffd180;
}

.footer-feedback a:active {
  border-bottom: none;
  color: #ee3643;
}

/*Стили для попап формы*/
.popup-form {
  font-size: 18px;
  line-height: 18px;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.name-field,
.email-field,
.message-area {
  /*font-family: "PT Sans", Arial, sans-serif;*/
  outline: none;
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.message-area {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.popup-form ::-webkit-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.popup-form :-moz-placeholder { /* Firefox 18- */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.popup-form ::-moz-placeholder {  /* Firefox 19+ */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.popup-form :-ms-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.popup-form-btn {
  border: none;
  border-radius: 2px;
  background-color: #ee3643;
}

.popup-form-btn:hover,
.popup-form-btn:focus {
  background-color: #ca2c37;
}

.popup-form-btn:active {
  background-color: #ba2732;
}

/*Стили для catalog.html*/
/*Дополнительные стили для шапки каталога*/
.catalog-main-header {
  margin-bottom: 21px;
}

.cart-full {
  background-color: #ee3643;
}

.catalog-user-block {
  margin-bottom: 10px;
}

.user-actions {
  font-size: 21px;
  line-height: 25px;
  background-color: #ffffff;
  padding: 8px 65px 8px 45px;
}

.user-actions span {
  /*Временно*/
  display: none;
}

.user-actions:hover,
.user-actions:focus {

}

.user-actions:active {
  opacity: 0.3;
}

.profile-link {
  font-size: 21px;
  line-height: 18px;
  color: #000000;
}

.logout-link {
  color: #000000;
}

.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 300px;
  padding: 0 20px;
}

.user-navigation-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  border-bottom: 2px solid #32425c;
}

.user-navigation-link:first-of-type {
  margin-right: 32px;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: #ee4d59;
  border-bottom: 2px solid #ee4d59;
}

.user-navigation-link:active {
  opacity: 0.3;
  color: #32425c;
  border-bottom: 2px solid rgba(73, 88, 111, 0.3);
}

/*Стили для основого содержания*/
.breadcrumbs {
  margin-bottom: 21px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs-list li {
  margin-right: 40px;
}

.breadcrumbs-list a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs-list .homepage {
  display: block;
  font-size: 0;
  width: 16px;
  height: 16px;
  background-color: #32425c;
}

.breadcrumbs + .block-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

.breadcrumbs + .block-title {
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 30px;
  padding-right: 30px;
}

/*Стили для фильтров*/
.catalog-flex-container {
  display: flex;
  justify-content: space-between;
}

.catalog-filter {
  width: 220px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  display: block;
  padding: 10px 20px;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;
  background-color: #f7f3ec;
}

.filter-form-title {
  display: block;
  margin-bottom: 12px;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.bar {
  height: 80px;
  margin-bottom: 9px;
  border-radius: none;
  background-color: #f7f3ec;
}

.toggle-min,
.toggle-max {
  width: 21px;
  height: 22px;
  background-color: #000;
}

.price-range {
  display: flex;
  justify-content: space-between;
}

.min-price,
.max-price {
  width: 95px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17;
  line-height: 18px;
  color: #000000;
  border: none;
  border-radius: 2px;
  background-color: #f7f3ec;
}

.price-field {
  margin-bottom: 43px;
}

.manufacturers-field {
  margin-bottom: 39px;
  font-size: 15px;
  line-height: 20px;
}

.manufacturers-field-container {
  display: flex;
  flex-direction: column;
}

.manufacturers-field-item {
  margin: 0;
  margin-bottom: 17px;
}

.manufacturers-field-item:last-of-type {
  margin-bottom: 0;
}

.power-field {
  margin-bottom: 75px;
  font-size: 14px;
  line-height: 20px;
}

.power-field-container {
  display: flex;
  flex-direction: column;
}

.power-field-item {
  margin: 0;
  margin-bottom: 16px;
}

.power-field-item:last-of-type {
  margin-bottom: 0;
}

.catalog-filter-btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

/*Стили для сортировки*/
.filtered-goods {
  width: 700px;
}

.sorting {
  display: flex;
  margin-bottom: 20px;
  padding-left: 19px;
  padding-right: 20px;
  padding-top: 11px;
  padding-bottom: 8px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #f7f3ec;
}

.sorting-title {
  display: block;
  width: 140px;
  margin-right: 80px;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  list-style: none;
  width: 400px;
  padding: 0 20px;
}

.sorting-list a {
  color: #b6b3ae;
  /*В макете у подчеркивания - маленькие квадраты,
  можно этого добиться с помощью css? dashed не годится*/
  border-bottom: 1px dotted #ee3643;
}

.sorting-list .active-type-of-sort {
  color: #ee3643;
  border: none;
  pointer-events: none;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #000000;
  border-bottom: 2px solid #ee3643;
}

.sorting-list a:active {
  color: #ee3643;
  border: none;
}

.sorting-arrows {
  display: flex;
  width: 50px;
}

.sorting-arrow {
  display: block;
  width: 12px;
  height: 12px;
  /*font-size: 13px;*/
  font-size: 0px;
  line-height: 18px;
  color: #000000;
}

.sorting-arrow-up {
  margin-right: 19px;
  background-color: #ee3643;
}

.sorting-arrow-down {
  background-color: #c5c5c5;
}

/*Стили для товаров*/
.goods-item-container {
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  margin-bottom: 52px;
}

.goods-item,
.goods-item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.goods-item {
  width: 220px;
  /*Высота временная*/
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.goods-item:nth-of-type(n+7) {
  margin-bottom: 0;
}

.goods-item:nth-of-type(3n+3) {
  margin-right: 0;
}

.goods-item-title span {
  text-transform: uppercase;
}

.goods-item-action {
  display: none;
}

.goods-item:hover,
.goods-item:focus {
  /*Спросить, как при наведении можно менять стили нескольких объектов*/
  /*Спросить, как подбирать параметры для тени используя данные фотошопа*/
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border: none;
}

.goods-item:hover .goods-item-image,
.goods-item:focus .goods-item-image  {
  display: none;
}

.goods-item:hover .goods-item-action,
.goods-item:focus .goods-item-action  {
  display: block;
}

/*Стили для пагинатора*/
.paginator {
  display: flex;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  width: 320px;
}

.paginator-item {
  margin-right: 10px;
}

.paginator-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.paginator-item a {
  display: block;
  padding: 10px 16px;
  color: #000000;
}

.paginator-item .current-page {
  border: 2px solid #ee3643;
  background-color: #ee3643;
  pointer-events: none;
}

.paginator-item .next-page-button {
  padding-left: 31px;
  padding-right: 31px;
}

.current-page a {
  color: #ffffff;
}

.paginator-item a:hover,
.paginator-item a:focus {
  border: 2px solid #bdc6ca;
}

.paginator-item a:active {
  border: 2px solid #ee3643;
}

/*Стили для блока с описанием перфораторов*/
.about-punchers {
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #f2f6f8;
}

.about-punchers

.about-punchers p {
  font-size: 14px;
  line-height: 24px;
}

.catalog-main-footer {
  margin-top: 0;
}

/*Стили для уведомления о добавлении товара в корзину*/
.add-to-cart {
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.add-to-cart-title {
  font-size: 30px;
  line-height: 18px;
}

.user-order-actions {
  background-color: #f1f1f1;
}

.place-order-link {
  border-radius: 2px;
  background-color: #ee3643;
}

.place-order-link:hover,
.place-order-link:focus {
  background-color: #ca2c37;
}

.place-order-link:active {
  background-color: #ba2732;
}

.contnue-shopping-link {
  color: #000000;
  border-radius: 2px;
  background-color: #ffffff;
}
